.login {
  display: grid;
  place-items: center;
  height: 100vh;
  width: 100%;
}

.login > div > img {
  object-fit: contain;
  height: 250px;
  transition: 1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -webkit-transition: 1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -moz-transition: 1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -ms-transition: 1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -o-transition: 1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.login > div > img:hover {
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
}

.login > button {
  background-color: #0f83ff;
  width: 250px;
  color: white;
  transition: 0.5s ease-in-out;
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -ms-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
}

.login > button:hover {
  background-color: #0d6fd9;
  width: 300px;
}

.login > h1 {
  color: #323232;
  transition: 0.5s ease-in-out;
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -ms-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
}

.login > h1:hover {
  letter-spacing: 10px;
}
